<div class="navbar navbar-default navbar-fixed-top navbar-inverse" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("homepage") }}">TJ-SIF 2016</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path("member_index") }}">Home</a></li>
                <li><a href="{{ path("member_user_show", {"id": app.user.id}) }}">Profile</a></li>
                <li><a href="{{ path("member_attendance_show", {"id": app.user.id}) }}">Attendance</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informations<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path("member_project_index") }}">Projects</a></li>
                        <li><a href="{{ path("member_activity_index") }}">Activities</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path("member_user_index") }}">Members</a></li>
                        <li><a href="{{ path("member_organization_index") }}">Organization</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path("member_statistics_index") }}">Statistics</a></li>
                        <li><a href="#">Notifications</a></li>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Admin tools</li>
                        <li><a href='#'>Type</a></li>
                        <li><a href="#">Jobs</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path("member_invitation") }}">Invitation</a></li>
                {% endif %}
                {% if app.user %}
                <li><a href="{{ path("logout") }}" class="btn btn-default">Sign out</a></li>
                {% else %}
                <li><a href="{{ path("login") }}" class="btn btn-default">Sign in</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div><!-- / .container -->
</div>
