<div class="form-group">
    <div id="students">
        <div class="row sub-header">
            <div class="col-sm-offset-1 col-sm-5">
                <h2 class="">Students</h2>
            </div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <ul class="nav nav-tabs" role="tablist">
                    {% for organization in organizations %}
                        <li role="presentation" {% if organization.id == project.organization.id %} class="active"{% endif %}>
                            <a href="#student_{{ organization.id }}" aria-controls="profile" role="tab" data-toggle="tab">{{ organization.shortname }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for organization in organizations %}
                        <div role="tabpanel" class="tab-pane fade{% if organization.id == project.organization.id %} in active{% endif %}" id="student_{{ organization.id }}">
                            {% for child in form.users.children %}
                            {% set index = child.vars.value %}{# get array index #}
                            {% set entity = form.users.vars.choices[index].data %}{# get entity object #}
                            {% if entity.job.id == 1 and entity.organization.id == organization.id %}
                            {{ form_widget(child) }}
                            {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /students -->

    <div id="teachers">
        <div class="row sub-header">
            <div class="col-sm-offset-1 col-sm-5">
                <h2 class="">Teachers</h2>
            </div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <ul class="nav nav-tabs" role="tablist">
                    {% for organization in organizations %}
                        <li role="presentation"{% if organization.id == project.organization.id %} class="active"{% endif %}>
                            <a href="#teacher_{{ organization.id }}" aria-controls="profile" role="tab" data-toggle="tab">{{ organization.shortname }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for organization in organizations %}
                        <div role="tabpanel" class="tab-pane fade{% if organization.id == project.organization.id %} in active{% endif %}" id="teacher_{{ organization.id }}">
                            {% for child in form.users.children %}
                            {% set index = child.vars.value %}{# get array index #}
                            {% set entity = form.users.vars.choices[index].data %}{# get entity object #}
                            {% if entity.job.id != 1 and entity.organization.id == organization.id %}
                            {{ form_widget(child) }}
                            {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /teachers -->
</div><!-- /.form-group -->