<section id="about" class="about">
    <div class="container">
        <h1>Thailand - Japan Student ICT Fair 2016</h1>
        <h3><p class="text-warning"><i class="fa fa-building-o fa-fw" aria-hidden="true"></i>&nbspAt Princess Chulabhorn Science High School Chonburi</p></h3>
        <div class="row">
            <div class="col-md-7">
                <h4><span class="text-muted">21st - 23rd December 2016</span></h4>
                <p>Following last year <strong>Thailand - Japan Student Science Fair 2015 (TJ-SSF 2015) <a href="http://www.tjssf2015.net/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></strong> that was held at PCSHS Phetchaburi to mark the end of the festival and assuring a deeper understanding of science and a close friendship among Thai and Japanese youth. And now the time has come!<p>
                <p>This year, we will hold the second Thailand-Japan Students Science Fair. It is again organized with emphasize on students science projects on Information and Communication Technology (ICT). The topics cover <mark>applications and software</mark>, <mark>robotics and hardware</mark> and <mark>the Internet of Things (IoT).</mark></p>
                <p>The 2016 Science Fair is called <strong>"Thailand-Japan Student ICT Fair 2016 (TJ-SIF2016)"</strong> and it will be held at Princess Chulabhorn Science High School Chonburi (PCSH School Chonburi) from 21 to 23 December 2016.</p>
                <p>Hope to see everyone ready to share, learn and have fun!</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-responsive center-block" src="{{ asset('/images/featurette/IMG_00_01_500.jpg') }}" alt="About picture">
            </div>
        </div><!-- /.row -->

        <div class="row">
            <div class="header col-xs-12">
                <h4><span class="text-muted">Cooperation with</span><h4>
            </div>
            <div class="col-md-offset-1 col-md-5">
                <a href="http://www.kmitl.ac.th/en/main.php" target="_blank"><img class="img" src="{{ asset('/images/logos/kmitl-logo.png') }}" alt="KMITL logo" height="100"></a>
                <h2>KMITL</h2>
                <p>King Mongkut's Institute of Technology Ladkrabang</p>
            </div><!-- /.col-md-offset-1 col-md-5 -->
            <div class="col-md-6">
                <a href="http://www.jica.go.jp/english/index.html" target="_blank"><img class="img" src="{{ asset('/images/logos/jica-logo.png') }}" alt="JICA logo" height="100"></a>
                <h2>JICA</h2>
                <p>Japan International Cooperation Agency</p>
            </div><!-- /.col-md-6 -->
            <div class="col-md-offset-1 col-md-5">
                <a href="http://www.buu.ac.th/en/" target="_blank"><img class="img" src="{{ asset('/images/logos/bura-logo.png') }}" alt="BUU logo" height="100"></a>
                <h2>BUU</h2>
                <p>Burapha University</p>
            </div><!-- /.col-md-offset-1 col-md-5 -->
            <div class="col-md-6">
                <a href="http://www.jcc.or.th/en/site/index" target="_blank"><img class="img" src="{{ asset('/images/logos/jcc-logo.png') }}" alt="JCC logo" height="100"></a>
                <h2>JCC</h2>
                <p>The Japanese Chamber of Commerce,Bangkok</p>
            </div><!-- /.col-md-6 -->
            <div class="col-md-offset-1 col-md-5">
                <a href="http://www.toyota.co.th/switch.php" target="_blank"><img class="img" src="{{ asset('/images/logos/toyota-logo.png') }}" alt="TOYOTA logo" height="100"></a>
                <h2>TOYOTA</h2>
                <p>Toyota Motor Thailand Co., Ltd.</p>
            </div><!-- /.col-md-offset-1 col-md-5 -->
        </div><!-- /.row -->
        <hr class="featurette-divider">
    </div><!-- /.container -->
</section><!-- /about-->