<section id="venue" class="venue">
    <div class="container">
        <h1>Venue</h1>
        <div class="row">
            <div class="col-md-7">
                <p>Students of <strong>Princess Chulabhorn Science High Schools Chonburi <a href="http://pccchon.ac.th" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></strong> come from 8 neighboring provinces: namely, Chonburi, Rayong, Chanthaburi, Trat, Sa Kaeo, Chachoengsao, Prachinburi and Nakhon Nayok.<p>
                <p>There are numerous interesting places, ranging from industrial complexes, beautiful resorts, national parks, cultural heritages, etc.</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-responsive center-block" src="{{ asset('/images/pcshs/pcshs_chonburi.jpg') }}" alt="12 PCSHS">
            </div>
        </div><!-- /.row -->
        <div class="row">
            <div class="header col-xs-12">
                <h3><p class="text-warning"><i class="fa fa-location-arrow fa-fw" aria-hidden="true"></i>&nbsp;Around here</h3>
            </div>
            <div class="col-md-4">
                <img class="img-rounded center-block" src="{{ asset('/images/venue/industrial_complex.jpg') }}" alt="Industrial complex image" height="150">
                <h6 class="text-center">Industrial complex, Rayong</h6>
            </div><!-- /.col-lg-4 -->
            <div class="col-md-4">
                <img class="img-rounded center-block" src="{{ asset('/images/venue/pattaya.jpg') }}" alt="Industrial complex image" height="150">
                <h6 class="text-center">Pattaya, Chonburi</h6>
            </div><!-- /.col-lg-4 -->
            <div class="col-md-4">
                <img class="img-rounded center-block" src="{{ asset('/images/venue/nong_nooch.jpg') }}" alt="Industrial complex image" height="150">
                <h6 class="text-center">Nong Nooch Botanical Garden, Chonburi</h6>
            </div><!-- /.col-lg-4 -->
            <div class="col-md-4">
                <img class="img-rounded center-block" src="{{ asset('/images/venue/koh_chang.jpg') }}" alt="Industrial complex image" height="150">
                <h6 class="text-center">The National Marine Park "Koh Chang Island"</h6>
            </div><!-- /.col-lg-4 -->
            <div class="col-md-4">
                <img class="img-rounded center-block" src="{{ asset('/images/venue/sarika_waterfall.jpg') }}" alt="Industrial complex image" height="150">
                <h6 class="text-center">Sarika Waterfall, Nakon Nayok</h6>
            </div><!-- /.col-lg-4 -->
            <div class="col-md-4">
                <img class="img-rounded center-block" src="{{ asset('/images/venue/prasat_sadok.jpg') }}" alt="Industrial complex image" height="150">
                <h6 class="text-center">10th century Prasat Sadok Kok Thom, Sa Kaeo</h6>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row-->
        <hr class="featurette-divider">
    </div><!-- /.container -->
</section><!-- /venue-->
