<div class="project-categories">    
    <h2><p class="text-warning">Categories</p></h2>
    <p>There are seven catogities as follows:</p>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        {% for category_id, project_list in projects %}
        <div class="panel panel-warning">
            <div class="panel-heading" role="tab" id="category_{{ category_id }}">
                {% if loop.index0 == 0 %}
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ category_id }}" aria-expanded="true" aria-controls="collapse_{{ category_id }}">
                {% else %}
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ category_id }}" aria-expanded="false" aria-controls="collapse_{{ category_id }}">
                {% endif %}
                    <h4 class="panel-title"><i class="fa fa-caret-down" aria-hidden="true"></i> {{ categoryChoices[category_id] }}</h4>
                </a>
            </div>
            <div id="collapse_{{ category_id }}" class="panel-collapse collapse{% if loop.index0 == 0 %} in{% endif %}" role="tabpanel" aria-labelledby="category_{{ category_id }}">
                <div class="panel-body">
                    {% for project in project_list %}
                    <div class="media">
                        <div class="media-left media-middle">
                            <button type="button" data-toggle="modal" data-target="#project_detail_{{ project.id }}">
                                {% if project.picture %}
                                <img class="media-object img-rounded" src="{{ vich_uploader_asset(project.picture, 'imageFile')|imagine_filter('thumbnail_xs') }}" alt="Project picture">
                                {% else %}
                                <img class="media-object img-rounded" src="{{ asset('template/project/initial_project.png')|imagine_filter('thumbnail_xs') }}" alt="Project picture">
                                {% endif %}
                            </button>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">{{ project.name }}</h5>
                            <span class="text-muted"><i class="fa fa-graduation-cap" aria-hidden="true"></i> {{ project.organization.name }}</span>
                        </div>
                    </div>
                    <div class="modal fade" id="project_detail_{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">{{ project.name }}<p><small>{{ project.organization.name }}</small><p></h4>
                                </div>
                                <div class="modal-body">
                                    <h4>Category:</h4><span class="text-muted">Application on {{ categoryChoices[project.category] }}</span>
                                    <h4>Concept:</h4><span class="text-muted">{{ project.concept }}</span>
                                    <h4>Objective:</h4><span class="text-muted">{{ project.objective }}</span>
                                    <h4>Students' names:</h4>
                                    {% set number = 1 %}
                                    {% for user in project.users %}
                                        {% if user.occupation == constant('AppBundle\\Utils\\ChoiceList\\OccupationChoiceLoader::OCCUPATION_STUDENT_ID') %}
                                        <p><span class="text-muted">{{ number }}. {{ user.getFullnameWithTitleAndJob }}</span></p>
                                        {% set number = number + 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    <h4>Teachers' names:</h4>
                                    {% set number = 1 %}
                                    {% for user in project.users %}
                                        {% if user.occupation != constant('AppBundle\\Utils\\ChoiceList\\OccupationChoiceLoader::OCCUPATION_STUDENT_ID') %}
                                        <p><span class="text-muted">{{ number }}. {{ user.getFullnameWithTitleAndJob }}</span></p>
                                        {% set number = number + 1 %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div><!-- /accordion -->
</div><!-- /.project-categories -->    