<section id="statistics-registration" class="statistics-registration">
    <div class="container">
        <h2>Registration status</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Students</th>
                        <th class="text-center">Teachers</th>
                        <th class="text-center">Deputies</th>
                        <th class="text-center">Director</th>
                        <th class="text-center">JOCV</th>
                        <th class="text-center">The others</th>
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for organization in registrationList %}
                    <tr>
                        <td><a href="{{ path("member_organization_show", {"id": organization[0].id}) }}">{{ organization[0].shortname }}</a></td>
                        <td class="text-center">{{ organization[1] }}</td>
                        <td class="text-center">{{ organization[2] }}</td>
                        <td class="text-center">{{ organization[3] }}</td>
                        <td class="text-center">{{ organization[4] }}</td>
                        <td class="text-center">{{ organization[5] }}</td>
                        <td class="text-center">{{ organization[6] }}</td>
                        <td class="text-center"><strong>{{ organization[7] }}</strong></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- /.table -->
    </div><!-- /.container -->
</section>