{% extends "layout_member_bbs.html.twig" %}

{% block title %}BBS | {{ parent() }}{% endblock %}

{% block pageheader %}
BBS <small>- for free talk</small>
{% endblock %}

{% block bbs_main %}
<div class="add-post">
    {{ render(controller('AppBundle:BbsPost:new')) }}
</div>
<hr class="bbs-divider">

{% for post in pagination %}
<div class="col-xs-12" id="post-{{ post.id }}">
    <div class="date">{{ post.createdAt|date('M j') }} at {{ post.createdAt|date('h:ia') }}</div>
</div>

<div class="col-xs-12">
    <h2 class="bbs-heading">
        <a href="{{ path('member_bbs_show', { 'id': post.id }) }}">{{ post.title }}</a>
        <div>
            {% if post.user.picture != null %}
            <img class="img-circle" src="{{ vich_uploader_asset(post.user.picture, 'imageFile')|imagine_filter('thumbnail_xs') }}" alt="Profile picture" />
            {% else %}
            <img class="img-circle" src="{{ asset('template/user/initial_user.png')|imagine_filter('thumbnail_xs') }}">
            {% endif %}
            <a href="{{ path('member_user_show', { 'id': post.user.id }) }}"><span class="text-muted">{{ post.user.fullname }}</span></a>
        </div>
    </h2>
</div>

{% if post.imageName %}
<div class="col-md-7 snippet">
    <p class="lead">{{ post.content(250) }}</p>
    <p class="continue"><a href="{{ path('member_bbs_show', { 'id': post.id }) }}">Continue reading...</a></p>
</div>
<div class="col-md-5">
    <img class="bbs-image img-responsive center-block" src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="Post picture" />
</div>
{% else %}
<div class="snippet">
    <p class="lead">{{ post.content(250) }}</p>
    <p class="continue"><a href="{{ path('member_bbs_show', { 'id': post.id }) }}">Continue reading...</a></p>
</div>
{% endif %}

<div class="col-xs-12">
    <div class="bbs-footer">
        <div class="meta">
            <p>Comments: <a href="{{ path('member_bbs_show', { 'id': post.id }) }}#comments">{{ post.comments|length }}</a></p>
            <p>Tags: <span class="highlight">{{ post.tags }}</span></p>
        </div>
    </div>
</div>
<hr class="bbs-divider">
{% endfor %}
<div class="text-center">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}