{% extends "layout_member_bbs.html.twig" %}

{% block title %}BBS | {{ parent() }}{% endblock %}

{% block pageheader %}
BBS <small>- for free talk</small>
{% endblock %}

{% block bbs_main %}
<div class="col-xs-12">
    <div class="date">{{ post.createdAt|date('F j, Y') }} at {{ post.createdAt|date('h:ia') }}</div>
</div>

<div class="col-xs-12">
    <h2 class="bbs-heading">
        {{ post.title }}
        <div>
            {% if post.user.picture != null %}
            <img class="img-circle" src="{{ vich_uploader_asset(user.picture, 'imageFile')|imagine_filter('thumbnail_xs') }}" alt="Profile picture" />
            {% else %}
            <img class="img-circle" src="{{ asset('template/user/initial_user.png')|imagine_filter('thumbnail_xs') }}">
            {% endif %}
            <a href="{{ path('member_user_show', { 'id': post.user.id }) }}"><span class="text-muted">{{ post.user.fullname }}</span></a>
        </div>
    </h2>
    <div class="snippet">
    <p>{{ post.content }}</p>
    </div>
</div>

{% if post.imageName %}
<div class="bbs-image">
    <img class="img-responsive center-block" src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="Project picture" />
</div>
{% endif %}

{% if post.filename %}
<div class="col-xs-12 bbs-file">
    <hr class="bbs-divider">
    <p>{{ post.originalFilename }}</p>
    <a href="{{ vich_uploader_asset(post, 'file') }}" class="btn btn-lg btn-default pull-right" download="{{ post.originalFilename }}" alt="Project picture">Download available</a>
</div>
{% endif %}

<div class="col-xs-12">
    <div class="comments" id="comments">
        <div class="previous-comments">
            <h3>Comments</h3>
            {% include 'bbscomment/index.html.twig' with { 'comments': post.comments } %}
        </div>
        <div class="add-comment">
            <h3>Add Comment</h3>
            {{ render(controller('AppBundle:BbsComment:new', { 'id': post.id })) }}
        </div>
    </div>
</div>
<div class="col-xs12">
    <div class="text-center">
        <a class="btn btn-lg btn-default" href="{{ path('member_bbs_index')}}#post-{{ post.id }}">Back</a>
    </div>
</div>

{% endblock %}
