{% extends "layout_simple.html.twig" %}

{% block title %}Signin for TJ-SIF member site{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 'css/signin.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block content %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-signin'}}) }}
    <h2 class="form-signin-heading">TJ-SIF 2016</h2>
    <p>Change Password</p>
    
    {{ form_label(form.oldPassword) }}
    {{ form_errors(form.oldPassword) }}
    {{ form_widget(form.oldPassword) }}

    {{ form_label(form.newPassword.first) }}
    {{ form_errors(form.newPassword.first) }}
    {{ form_widget(form.newPassword.first) }}

    {{ form_label(form.newPassword.second) }}
    {{ form_errors(form.newPassword.second) }}
    {{ form_widget(form.newPassword.second) }}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>
    <a class="btn btn-lg btn-default btn-block" href="{{ app.request.headers.get('referer') }}">Cancel</a>
{{ form_end(form) }}
{% endblock %}