{% extends "layout_member.html.twig" %}

{% block title %}User | {{ parent() }}{% endblock %}

{% block pageheader %}
Members
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            {% for id, users in memberlist %}
            <li role="presentation"{% if id == app.user.organization.shortname %} class="active"{% endif %}>
                <a href="#organization_{{ loop.index }}" aria-controls="profile" role="tab" data-toggle="tab">{{ id }}</a>
            </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for id, users in memberlist %}
            <div role="tabpanel" class="tab-pane fade{% if id == app.user.organization.shortname %} in active{% endif %}" id="organization_{{ loop.index }}">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Name</th>
                            <th>Occupation</th>
                            <th>Type</th>
                            <th>Active</th>
                            <th>Last update</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                {% if user.picture != null %}
                                <img class="img-circle" src="{{ vich_uploader_asset(user.picture, 'imageFile')|imagine_filter('thumbnail_xs') }}" alt="Profile picture" />
                                {% else %}
                                <img class="img-circle" src="{{ asset('template/user/initial_user.png')|imagine_filter('thumbnail_xs') }}">
                                {% endif %}
                            </td>
                            <td><a href="{{ path("member_user_show", {"id": user.id}) }}">{{ user.getFullnamewithTitle() }}</a></td>
                            <td>{{ occupationChoices[user.occupation] }}</td>
                            <td>{{ accountChoices[user.type] }}</td>
                            <td>{% if user.isActive %}
                                <i class="fa fa-check" aria-hidden="true"></i>
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i>
                                {% endif %}
                            </td>
                            <td><time datetime="{{ user.updatedAt|date('c') }}">{{ user.updatedAt|date('F j, Y') }}</time></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div><!-- /.tab-content -->
    </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}