{% extends "layout_member.html.twig" %}

{% block title %}User | {{ parent() }}{% endblock %}

{% block pageheader %}
Search members
{% endblock %}

{% block content %}
<div class="container">
    <div class="table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Job</th>
                    <th>Organization</th>
                    <th>Type</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    {% if user.picture != null %}
                    <td><img class="profile-picture-xs img-circle" src="{{ vich_uploader_asset(user.picture, 'imageFile') }}" alt="{{ user.picture.imageName }}" /></td>
                    {% else %}No Profile Picture{% endif %}
                    <td><a href="{{ path("member_user_show", {"id": user.id}) }}">{{ user.fullName }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.job.name }}</td>
                    <td>{{ user.organization.name }}</td>
                    <td>{{ user.type }}</td>
                    <td>{{ user.isActive }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><!-- /.table-responsive -->
</div><!-- /.container -->
{% endblock %}