{% extends "layout_member.html.twig" %}

{% block title %}User | {{ parent() }}{% endblock %}

{% block pageheader %}
Members
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            {% for id, users in memberlist %}
            <li role="presentation"{% if id == app.user.organization.shortname %} class="active"{% endif %}>
                <a href="#organization_{{ loop.index }}" aria-controls="profile" role="tab" data-toggle="tab">{{ id }}</a>
            </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for id, users in memberlist %}
            <div role="tabpanel" class="tab-pane fade{% if id == app.user.organization.shortname %} in active{% endif %}" id="organization_{{ loop.index }}">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Name</th>
                            <th>Job</th>
                            <th>Type</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                {% if user.picture != null %}
                                <img class="profile-picture-xs img-circle" src="{{ vich_uploader_asset(user.picture, 'imageFile') }}" alt="{{ user.picture.imageName }}" />
                                {% else %}
                                <img class="profile-picture-xs img-circle" src="{{ asset('template/user/initial_user.png') }}">
                                {% endif %}
                            </td>
                            <td><a href="{{ path("member_user_show", {"id": user.id}) }}">{{ user.getFullnamewithTitle() }}</a></td>
                            <td>{{ user.job.name }}</td>
                            <td>{{ user.type }}</td>
                            <td>{{ user.isActive }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div><!-- /.tab-content -->
    </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}