{% extends "layout_member.html.twig" %}

{% block title %}Profile | {{ parent() }}{% endblock %}

{% block pageheader %}
Profile <small>- {{ user.getFullname }}</small>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-5">
        {% if app.user.id == user.id %}
            {% include "components/member/profile_completeness.html.twig" %}
        {% else %}
            {% if user.picture %}
            <img class="img-circle" src="{{ vich_uploader_asset(user.picture, 'imageFile')|imagine_filter('thumbnail_sm') }}" alt="User profile picture" />
            {% else %}
            <img class="img-circle" src="{{ asset('/template/user/initial_user.png')|imagine_filter('thumbnail_sm') }}" alt="User profile picture" />
            {% endif %}
        {% endif %}
        </div>
        <div class="col-sm-offset-4 col-sm-1">
            <div class="btn-group-vertical pull-right" role="group" aria-label="...">
                <a class="btn btn-lg btn-default" href="{{ app.request.headers.get('referer') }}">Back</a>
                <a class="btn btn-lg btn-default" href="{{ path("member_user_index") }}">View member list &raquo;</a>
                <a class="btn btn-lg btn-success" href="{{ path("member_attendance_show", {"id": user.id}) }}" role="button">View attendance &raquo;</a>
                {% if app.user.id == user.id %}
                <a class="btn btn-lg btn-danger" href="{{ path("member_user_changepassword", {"id": user.id}) }}">Change password</a>
                <a class="btn btn-lg btn-warning" href="{{ path("member_user_picture_upload", {"id": user.id}) }}">Change picture</a>
                <a type="button" class="btn btn-lg btn-primary" href="{{ path("member_user_edit", {"id": user.id}) }}">Edit information</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row sub-header">
        <div class="col-sm-offset-1">
            <h2 class="">Personal information</h2>
        </div>
    </div><!-- /.row -->
    
    <div class="row">
        <div class="col-sm-11">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div><!-- /.row -->
   
    <div class="row">        
        {% if is_granted('ROLE_ADMIN') and user.id != app.user.id and user.organization.id == app.user.organization.id %}
        <div class="col-sm-offset-1 col-sm-10">
            {% if user.isActive %}
            <form action="{{ path('member_user_inactivate', {id: user.id}) }}" method="POST">
                <input type="hidden" name="_method" value="INACTIVATE"/>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="submit" value="Inactivate" class="btn btn-lg btn-warning">Inactivate</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-lg btn-warning" disabled>Activate</button>
                    </div>
                </div>
            </form>
            {% else %}
            <form action="{{ path('member_user_activate', {id: user.id}) }}" method="POST">
                <input type="hidden" name="_method" value="ACTIVATE"/>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button class="btn btn-lg btn-warning" disabled>Inactive</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" value="Activate" class="btn btn-lg btn-warning">Activate</button>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
        {% endif %}
    </div><!-- /.row -->
    {% if is_granted('ROLE_SUPER_ADMIN') and user.id != app.user.id %}
    <div class="row">
        <div class="col-sm-offset-1">
            <form action="{{ path('member_user_delete', {id: user.id}) }}" method="POST">
                <input type="hidden" name="_method" value="DELETE"/>
                <input type="submit" value="Delete" class="btn btn-danger"/>
            </form>
        </div>
    </div><!-- /.row -->
    {% endif %}
    
</div><!-- /.container -->
{% endblock %}
