{% extends "layout_member.html.twig" %}

{% block title %}Invitation | {{ parent() }}{% endblock %}

{% block pageheader %}
Invitation
{% endblock %}

{% block content %}
<div class="container">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row sub-header">
        <div class="col-sm-offset-1">
            <h2 class="">Send invitation to...</h2>
        </div>
    </div><!-- /.row -->
    
    <div class="row">
        <div class="col-sm-11">
            {{ form_widget(form) }}
        </div>
    </div><!-- /.row -->
    
    <div class="ros">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <a class="btn btn-lg btn-default" href="{{ app.request.headers.get('referer') }}">Back</a>
                </div>
                <div class="btn-group" role="group">
                    <input type="submit" value="Send invitation" class="btn btn-lg btn-success" />
                </div>
            </div>
        </div>
    </div><!-- /.row -->
    {{ form_end(form) }}
</div><!-- /.container -->
{% endblock %}