{% extends "layout_member.html.twig" %}

{% block title %}Invitation | {{ parent() }}{% endblock %}

{% block pageheader %}
Invitation
{% endblock %}

{% block content %}
<div class="container">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row sub-header">
        <div class="col-sm-offset-2 col-sm-8">
            <h2 class="">Send invitation to...</h2>
            <p class="small">Before send the invitation, please confirm that the organization your invitee belongs to already exist.</p>
            <p class="small">If not, you have to create it at the <a href="{{ path("member_organization_index") }}"> organization page</a> first.</p>
        </div>
    </div><!-- /.row -->
    
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            {{ form_widget(form) }}
        </div>
    </div><!-- /.row -->
    
    <div class="ros">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <input type="submit" value="Send invitation" class="btn btn-lg btn-success" />
                </div>
            </div>
        </div>
    </div><!-- /.row -->
    {{ form_end(form) }}
</div><!-- /.container -->
{% endblock %}