{% extends "layout_member.html.twig" %}

{% block title %}Create organization | {{ parent() }}{% endblock %}

{% block pageheader %}
Create organization
{% endblock %}

{% block content %}
<div class="container">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row sub-header">
        <div class="col-sm-offset-1 col-sm-5">
            <h2 class="">Organization information</h2>
        </div>
        <div class="col-sm-offset-2 col-sm-2">
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-default" href="{{ path("member_organization_index") }}">Cancel</a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div><!-- /.row -->

    <div row>
        <div class="col-md-10">
        {{ form_widget(form) }}
        {{ form_end(form) }}
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}