{% extends "layout_member.html.twig" %}

{% block title %}Organization | {{ parent() }}{% endblock %}

{% block pageheader %}
Organization <small>- {{ organization.name }}</small>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-5">
            {% if organization.picture %}
            <img class="img-thumbnail" src="{{ vich_uploader_asset(organization.picture, 'imageFile')|imagine_filter('thumbnail_sm') }}" alt="Organization picture" />
            {% else %}
            <img class="img-thumbnail" src="{{ asset('/template/organization/initial_organization.png')|imagine_filter('thumbnail_sm') }}" alt="Organization picture" />
            {% endif %}
        </div>
        <div class="col-sm-offset-4 col-sm-1">
            <div class="btn-group-vertical pull-right" role="group" aria-label="...">
                <a class="btn btn-lg btn-default" href="{{ app.request.headers.get('referer') }}">Back</a>
                <a class="btn btn-lg btn-default" href="{{ path("member_organization_index") }}">View organization list &raquo;</a>
                {% if is_granted('ROLE_SUPER_ADMIN') or (is_granted('ROLE_ADMIN') and app.user.organization.id == organization.id) %}
                <a type="button" class="btn btn-lg btn-warning" href="{{ path("member_organization_picture_upload", {"id": organization.id}) }}">Change Picture</a>
                <a type="button" class="btn btn-lg btn-primary" href="{{ path("member_organization_edit", {"id": organization.id}) }}">Edit Information</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row sub-header">
        <div class="col-sm-offset-1">
            <h2 class="">Organization information</h2>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-sm-11">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div><!-- /.row -->

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="row">
        {% if organization.isActive %}
        <div class="col-sm-offset-1 col-sm-10">
            <form action="{{ path('member_organization_inactivate', {id: organization.id}) }}" method="POST">
                <input type="hidden" name="_method" value="INACTIVATE"/>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="submit" value="Inactivate" class="btn btn-lg btn-warning"/>Inactivate</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-lg btn-warning" disabled>Activate</button>
                    </div>
                </div>
            </form>
        </div>
        {% else %}
        <div class="col-sm-offset-1 col-sm-10">
            <form action="{{ path('member_organization_activate', {id: organization.id}) }}" method="POST">
                <input type="hidden" name="_method" value="ACTIVATE"/>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button class="btn btn-lg btn-warning" disabled>Inactibate</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" value="Activate" class="btn btn-lg btn-warning"/>Activate</button>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
    </div><!-- /.row -->
    {% endif %}
    
</div><!-- /.container -->
{% endblock %}