{% extends "layout_member.html.twig" %}

{% block title %}Member Top | {{ parent() }}{% endblock %}

{% block pageheader %}
TJ-SIF 2016 <small>for members</small>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-6">
                {% include "components/member/profile_completeness.html.twig" %}
                    <p><a class="btn btn-default" href="{{ path("member_user_show", {"id": app.user.id}) }}" role="button">View profile &raquo;</a></p>
                    <p><a class="btn btn-default" href="{{ path("member_attendance_show", {"id": app.user.id}) }}" role="button">Check attendance &raquo;</a></p>
                </div>
                <div class="col-sm-6">
                    {% include "components/member/whats_new.html.twig" %}
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="col-sm-12">
                    {% include "components/member/how_to_invite.html.twig" %}
                </div>
                {% endif %}
                <div class="col-sm-12">
                    <h2>Latest posts</h2>
                    {{ render(controller('AppBundle:BbsPost:toppage')) }}
                    <p><a class="btn btn-default" href="{{ path("member_bbs_index") }}" role="button">View all posts &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                {% include "components/member/section_member_menu.html.twig" %}
            </div>
            <div class="row">
            {{ render(controller('AppBundle:Notification:toppage')) }}
            <p><a class="btn btn-default" href="{{ path("member_notification_index") }}" role="button">View all notifications &raquo;</a></p>
            </div>
        </div>            
    </div>

    <hr class="featurette-divider">
    {{ render(controller('AppBundle:User:toppage')) }}

    <hr class="featurette-divider">
    {{ render(controller('AppBundle:Project:toppage')) }}

    <hr class="featurette-divider">
    {{ render(controller('AppBundle:Organization:toppage')) }}

</div><!-- /.container -->
{% endblock %}
