{% extends "layout_member.html.twig" %}

{% block title %}Factory Tour | {{ parent() }}{% endblock %}

{% block pageheader %}
Factory Tour
{% endblock %}

{% block content %}
<div class="container-fluid">
    
    <div class="row sub-header">
        <div class="col-sm-offset-1 col-sm-10">
            <h2 class=""><i class="fa fa-industry fa-fw" aria-hidden="true"></i>&nbsp;There are three courses available</h2>
            <p>You can select one of the factory tours you would like to go unless the tour is filled to capacity <del>until 26 November</del>.</p>
            <p><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>&nbsp;Be careful! Once you choose the tour, you will not be able to change another one.</p>
            <div class="alert alert-warning" role="alert">
                <h5><i class="fa fa-dot-circle-o fa-fw" aria-hidden="true"></i>&nbsp;Due to the circumstances of the company, Factory Tour Kubota is cancelled.</h5>
            </div>
        </div>
    </div><!-- /.row -->
    {{ include('factorytour/_company_list.html.twig') }}
    
    <div class="row sub-header">
        <div class="col-sm-offset-1 col-sm-10">
            {% if attendance %}
            <h3 class="">{% if app.user.id == user.id %}Your{% else %}{{ user.fullname }}'s{% endif %} selected course is <code><strong>{{ attendance.activity.name }}</strong></code></h3>
            {% elseif app.user.id == user.id and user.occupation == constant('AppBundle\\Utils\\ChoiceList\\OccupationChoiceLoader::OCCUPATION_STUDENT_ID') %}
            <div class="alert alert-danger" role="alert">
                <h5><i class="fa fa-flag-o fa-fw" aria-hidden="true"></i>&nbsp;The factory tour selection has closed because of overdue date. Your factory tour should be chosen at random.</h5>
            </div>
            {% else %}
            <div class="alert alert-info" role="alert">
                <h5><i class="fa fa-flag-o fa-fw" aria-hidden="true"></i>&nbsp;Only students can choose the factory tour</h5>
            </div>
            {% endif %}
        </div>
    </div><!-- /.row -->
    
    <hr class="featurette-divider">
    <div class="row sub-header">
        <div class="col-sm-offset-4 col-sm-4"><a class="btn btn-lg btn-default btn-block" href="{{ app.request.headers.get('referer') }}">Back</a></div>
    </div>
</div><!-- /.container -->
{% endblock %}