{% extends "layout_member.html.twig" %}

{% block title %}Project | {{ parent() }}{% endblock %}

{% block pageheader %}
Project list
{% endblock %}

{% block content %}
<div class="container">
    {% if is_granted('ROLE_ADMIN') %}
    <div class="row">
        <div class="col-sm-offset-11 col-sm-1">
            <a type="button" class="btn btn-default pull-right" href="{{ path("member_project_new") }}">New</a>
        </div>
    </div><!-- /.row -->
    {% endif %}
    
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Topic</th>
                        <th>School</th>
                        <th>Active</th>
                        <th>Updated at</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td>
                            {% if project.picture %}
                            <img class="img-rounded" src="{{ vich_uploader_asset(project.picture, 'imageFile')|imagine_filter('thumbnail_xs') }}" alt="Project picture" />
                            {% else %}
                            <img class="img-rounded" src="{{ asset('/template/project/initial_project.png')|imagine_filter('thumbnail_xs') }}" alt="Project picture" />
                            {% endif %}
                        </td>
                        <td><a href="{{ path("member_project_show", {"id": project.id}) }}">{{ project.name }}</a></td>
                        <td>{{ project.topic }}</td>
                        <td>{{ project.organization.name }}</td>
                        <td>{{ project.isActive }}</td>
                        <td>{{ project.updatedAt|date("Y-m-d H:i")}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- /.table -->
    </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}