{% extends "layout_member.html.twig" %}

{% block title %}Project | {{ parent() }}{% endblock %}

{% block pageheader %}
Project <small>- {{ project.name }}</small>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-5">
            {% if project.picture %}
            <img class="img-rounded" src="{{ vich_uploader_asset(project.picture, 'imageFile')|imagine_filter('thumbnail_md') }}" alt="Project picture" />
            {% else %}
            <img class="img-rounded" src="{{ asset('/template/project/initial_project.png')|imagine_filter('thumbnail_md') }}" alt="Project picture" />
            {% endif %}
        </div>
        <div class="col-sm-offset-4 col-sm-1">
            <div class="btn-group-vertical pull-right" role="group" aria-label="...">
                <a class="btn btn-lg btn-default" href="{{ path("member_project_index") }}">Back</a>
                {% if is_granted('ROLE_SUPER_ADMIN') or 
                    (is_granted('ROLE_ADMIN') and app.user.organization.id == project.organization.id) %}
                <a type="button" class="btn btn-lg btn-warning" href="{{ path("member_project_picture_upload", {"id": project.id}) }}">Change Picture</a>
                <a type="button" class="btn btn-lg btn-primary" href="{{ path("member_project_edit", {"id": project.id}) }}">Edit</a>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="row sub-header">
        <div class="col-sm-offset-1">
            <h2 class="">Project information</h2>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-sm-11">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div id="project">
                {{ form_row(form.name) }}
                {{ form_row(form.concept) }}
                {{ form_row(form.objective) }}
                {{ form_row(form.category) }}
                {{ form_row(form.style) }}
                {{ form_row(form.organization) }}            
            </div>
            {{ form_end(form) }}
        </div>
    </div><!-- /.row -->
    
    <div class="row sub-header">
        <div class="col-sm-offset-1 col-sm-5">
            <h2 class="">Students</h2>
        </div>
    </div><!-- /.row -->
    
    <div class="row">
        <div class="col-sm-11">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tbody>
                            {% for student in students %}
                            <tr>
                                <td>
                                    {% if student.picture %}
                                    <img class="profile-picture-xs img-circle" src="{{ vich_uploader_asset(student.picture, 'imageFile') }}" alt="{{ student.picture.imageName }}" />
                                    {% else %}
                                    <img class="profile-picture-xs img-circle" src="{{ asset('template/user/initial_user.png') }}">
                                    {% endif %}
                                </td>
                                <td><a href="{{ path("member_user_show", {"id": student.id}) }}">{{ student.fullName }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /.col-sm-offset-2 -->
        </div><!-- /.col-sm-10 -->
    </div><!-- /.row -->
    
    <div class="row sub-header">
        <div class="col-sm-offset-1 col-sm-5">
            <h2 class="">Teachers</h2>
        </div>
    </div><!-- /.row -->
    
    <div class="row">
        <div class="col-sm-11">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tbody>
                            {% for teacher in teachers %}
                            <tr>
                                <td>
                                    {% if teacher.picture %}
                                    <img class="profile-picture-xs img-circle" src="{{ vich_uploader_asset(teacher.picture, 'imageFile') }}" alt="{{ teacher.picture.imageName }}" />
                                    {% else %}
                                    <img class="profile-picture-xs img-circle" src="{{ asset('template/user/initial_user.png') }}">
                                    {% endif %}
                                </td>
                                <td><a href="{{ path("member_user_show", {"id": teacher.id}) }}">{{ teacher.fullName }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /.col-sm-offset-2 -->
        </div><!-- /.col-sm-10 -->
    </div><!-- /.row -->
    
    <div class="row sub-header">
        <div class="col-sm-offset-1 col-sm-5">
            <h2 class="">Documents</h2>
        </div>
    </div><!-- /.row -->
    
    <div class="row">
        <div class="col-sm-offset-2 col-sm-9">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Document</th>
                        <th>Last update</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for type, name in documentChoices %}
                    {% set find = false %}
                    {% for document in project.documents %}
                    {% if not find and document.type == type %}
                    {% set find = true %}
                    <tr>
                        <td>{{ name }}</td>
                        <td><time datetime="{{ document.updatedAt|date('c') }}">{{ document.updatedAt|date("M j") }}</time></td>
                        <td><a href="{{ vich_uploader_asset(document, 'file') }}" class="btn btn-lg btn-default pull-right" download="{{ (name|split(' ')|first) ~ '_' ~ (project.organization.shortname) ~ '.' ~ (document.filename|split('.')|last) }}">Download</a></td>
                        {#<td><a href="{{ vich_uploader_asset(document, 'file') }}" class="btn btn-lg btn-default pull-right" download="{{ document.originalFilename }}">Download</a></td>#}
                        {% if is_granted('ROLE_SUPER_ADMIN') or 
                             (is_granted('ROLE_ADMIN') and app.user.organization.id == project.organization.id) %}
                        <td><a type="button" class="btn btn-lg btn-warning" href="{{ path("member_project_document_upload", {"id": project.id, "type": type}) }}">Upload file</a></td>
                        {% else %}
                        <td><a type="button" class="btn btn-lg btn-warning disabled" href="#">Upload file</a></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% if not find %}
                    {% if type == constant('AppBundle\\Utils\\ChoiceList\\DocumentChoiceLoader::DOCUMENT_ABSTRACT_DOCX_ID') or type == constant('AppBundle\\Utils\\ChoiceList\\DocumentChoiceLoader::DOCUMENT_ABSTRACT_PDF_ID') %} {# Delete in application period -> all danger #}
                    <tr class="danger">
                    {% else %}
                    <tr class="active">
                    {% endif %}
                        <td>{{ name }}</td>
                        <td>Not updated yet</td>
                        <td><a href="#" class="btn btn-lg btn-default pull-right disabled">Download</a></td>
                        {% if is_granted('ROLE_SUPER_ADMIN') or 
                             (is_granted('ROLE_ADMIN') and app.user.organization.id == project.organization.id) %}
                        <td><a type="button" class="btn btn-lg btn-warning" href="{{ path("member_project_document_upload", {"id": project.id, "type": type}) }}">Upload file</a></div>
                        {% else %}
                        <td><a type="button" class="btn btn-lg btn-warning disabled" href="#">Upload file</a></div>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div><!-- /.row -->
    
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4"><a class="btn btn-lg btn-default btn-block" href="{{ app.request.headers.get('referer') }}">Back</a></div>
    </div>

    <hr class="featurette-divider">

    {% if is_granted('ROLE_SUPER_ADMIN') or 
        (is_granted('ROLE_ADMIN') and app.user.organization.id == project.organization.id) %}
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="col-sm-push-4 col-sm-8">
            {% if project.isActive %}
                <form action="{{ path('member_project_inactivate', {id: project.id}) }}" method="POST">
                    <input type="hidden" name="_method" value="INACTIVATE"/>
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="submit" value="Inactivate" class="btn btn-lg btn-danger"/>Inactivate</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-lg btn-danger" disabled>Activate</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <form action="{{ path('member_project_activate', {id: project.id}) }}" method="POST">
                    <input type="hidden" name="_method" value="ACTIVATE"/>
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button class="btn btn-lg btn-danger" disabled>Inactivate</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="submit" value="Activate" class="btn btn-lg btn-danger"/>Activate</button>
                        </div>
                    </div>
                </form>
            {% endif %}
            </div>
        </div><!-- /.col-sm-offset-1 col-sm-10 -->
    </div><!-- /.row -->
    {% endif %}
</div><!-- /.container -->
{% endblock %}
