{% extends "layout_uploade_document.html.twig" %}

{% block title %}Upload project document | {{ parent() }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h2 class="text-center">Upload project document</h2>
        <h4 class="text-center">Project name: {{ project.name }}</h4>
        <h4 class="text-center">Document type: {{ documentTypeName }}</h4>
    </div><!-- /.row -->
    
    <div class="row">
        <div class="btn-group-wrap">
            {{ form_start(form, {'multipart': true, 'attr': {'class': 'form-upload', 'role': 'form'} }) }}
            {{ form_errors(form.file) }}
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-lg btn-default" href="{{ path("member_project_show", {"id": project.id}) }}">Cancel</a>
                {{ form_widget(form.file) }}
                <button class="btn btn-lg btn-warning" type="submit">Upload</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}