{% for comment in comments %}
<div class="panel panel-default" id="comment-{{ comment.id }}">
    <div class="panel-heading">
        <p>
        {% if comment.user.picture %}
        <img class="img-circle" src="{{ vich_uploader_asset(comment.user.picture, 'imageFile')|imagine_filter('thumbnail_xs') }}" alt="Profile picture" />
        {% else %}
        <img class="img-circle" src="{{ asset('template/user/initial_user.png')|imagine_filter('thumbnail_xs') }}">
        {% endif %}
        <span class="highlight"><a href="{{ path('member_user_show', { 'id': comment.user.id }) }}"> {{ comment.user.fullname }}</a> </span>commented <time datetime="{{ comment.createdAt|date('c') }}">{{ post.createdAt|created_ago }}</time>
        </p>
    </div>
    <div class="panel-body">
        {{ comment.content|nl2br }}
        {% if comment.imageName %}
        <div class="bbs-image">
            <img class="bbs-image img-responsive center-block" src="{{ vich_uploader_asset(comment, 'imageFile') }}" alt="Comment picture" />
        </div>
        {% endif %}
        {% if comment.filename %}
        <div class="bbs-file">
            <hr class="bbs-divider">
            <p>{{ comment.originalFilename }}</p>
            <a href="{{ vich_uploader_asset(comment, 'file') }}" class="btn btn-lg btn-default pull-right" download="{{ post.originalFilename }}" alt="Project picture">Download available</a>
        </div>
        {% endif %}
    </div>
</div>
{% else %}
    <p>There are no comments for this post. Be the first to comment...</p>
{% endfor %}
