<div class="panel panel-default">
    <div class="panel-heading">
        <p>
        {% if app.user.picture %}
        <img class="img-circle" src="{{ vich_uploader_asset(app.user.picture, 'imageFile')|imagine_filter('thumbnail_xs') }}" alt="Profile picture" />
        {% else %}
        <img class="img-circle" src="{{ asset('template/user/initial_user.png')|imagine_filter('thumbnail_xs') }}">
        {% endif %}
        <span class="highlight"> {{ app.user.fullname }}
        </p>
    </div>
    <div class="panel-body">
        {{ form_start(form, {'novalidate': 'novalidate'}) }}
            {{ form_errors(form) }}
            {{ form_row(form.content) }}
            {{ form_errors(form.file) }}
            {{ form_errors(form.imageFile) }}
            <div class="btn-group-wrap">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    {{ form_widget(form.file) }}
                    {{ form_widget(form.imageFile) }}
                    <div class="btn-group" role="group">
                        <input type="submit" value="Submit" class="btn btn-lg btn-warning" />
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>
