{% extends "layout_simple.html.twig" %}

{% block title %}Registration{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 'css/signin.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <h2 class="form-signin-heading">TJ-SIF 2016</h2>
    <p>Refistration form for member site</p>
{{ form_widget(form) }}
    <input type="submit" value="REGISTER"
       class="btn btn-lg btn-primary btn-block" />
{{ form_end(form) }}
    </div>
</div>
{% endblock %}
